.greenButton{
    background-color: #DFEDD5;    

}

.blueButton{
    background-color: #D4E3FC;
}

.blueLinks{
    color:#007bff;
}


.buttonHeight{
    height: 42px
}

a{
  background-image: none;
  cursor: pointer;
  
}

.textDecorationGreen{
    color: #28A745;
    text-decoration: underline;   
}

.textDecoration{
    text-decoration: underline;   
}
  
  
.gradient{
  background-image: linear-gradient(#E9ECEF, #FFFFFF);
}
