.greenButton{
    background-color: #DFEDD5;    

}

.blueButton{
    background-color: #D4E3FC;
}

.blueLinks{
    color:#007bff;
}


.buttonHeight{
    height: 42px
}

a{
  background-image: none;
  cursor: pointer;
  
}

.textDecorationGreen{
    color: #28A745;
    text-decoration: underline;   
}

.textDecoration{
    text-decoration: underline;   
}
  
  
.gradient{
  background-image: linear-gradient(#E9ECEF, #FFFFFF);
}

.btnRED{
    background-color:#ff0000c7;
    border-color: #ff0000c7;
    
}

.btnColor{
    background-color: #007296;
    border-color: #007296;
    color:white;
}

.tagsCol1{
    background-color: #97F8ED
}
.tagsCol2{
    background-color: #C2F8D0
}
.tagsCol3{
    background-color: #BCF6AA
}
.tagsCol4{
    background-color: #E0F790
}

.options-component{
     background-color: white;
    z-index: 20;
}
